.pagination {
  width           : 100%;
  display         : flex;
  justify-content : space-around;
  align-items     : center;
  margin-top      : 25px;
  margin-bottom   : 50px;
  
  &__button {
    width           : 25px;
    height          : 25px;
    padding         : 0;
    background      : none;
    outline         : none;
    border          : none;
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-align      : center;
    font-size       : 20px;
    line-height     : 1;
    font-weight     : 600;
    color           : #000;
    transition      : all .3s linear;
    cursor          : pointer;
    border-radius   : 5px;
    
    &[disabled] {
      cursor : default;
      color  : #6f6f6f;
    }
    
    &:not([disabled]):hover {
      @media screen and (min-width : 1025px) {
        color      : #fff;
        background : #ff2332;
      }
    }
  }
  
  &__list {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 25px;
  }
  
  &__list-item {
    padding       : 0;
    width         : 25px;
    height        : 100%;
    background    : none;
    outline       : none;
    border        : none;
    transition    : all .3s linear;
    font-size     : 20px;
    line-height   : 1;
    color         : #000;
    cursor        : pointer;
    border-radius : 5px;
    
    @media screen and (max-width : 575px) {
      width     : 18px;
      height    : 18px;
      font-size : 14px;
    }
    
    &:not(:last-child) {
      margin-right : 5px;
    }
    
    &.active {
      background-color : #ff2332;
      color            : #fff;
    }
    
    &:hover {
      @media screen and (min-width : 1025px) {
        background-color : #ff2332;
        color            : #fff;
      }
    }
  }
}
